body {
    background: #333;
    color: #ccc;
}

span {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.indexSpan {
    color: #444;
}

.compareDiv {
    border: 1px solid black;
    min-height: 32rem;
    display: inline-block;
    white-space: pre-wrap;
    font-family: monospace;
    background: #222;
}
